openapi: "3.1.0"
info:
  title: "SyllableSDK"
  description: "\n# Syllable Platform SDK\n\nSyllable SDK gives you the power of awesome AI agentry. \U0001F680\n\n## Overview\n\nThe Syllable SDK provides a comprehensive set of tools and APIs to integrate powerful AI\ncapabilities into your communication applications. Whether you're building chatbots, virtual\nassistants, or any other AI-driven solutions, Syllable SDK has got you covered.\n\n## Features\n\n- **Natural Language Processing (NLP)**: Understand and generate human language with ease.\n- **Machine Learning Models**: Leverage pre-trained models or train your own custom models.\n- **Speech Recognition**: Convert speech to text and vice versa.\n- **Data Analytics**: Analyze and visualize data to gain insights.\n- **Integration**: Seamlessly integrate with other services and platforms.\n\n"
  version: "0.0.2"
servers:
  - url: "https://api.syllable.cloud"
    description: "API server"
paths:
  "/api/v1/agents/":
    get:
      tags:
        - "agents"
      summary: "Agent List"
      description: "List the existing agents"
      operationId: "agent_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/AgentProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/AgentProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/AgentProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_AgentResponse_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    post:
      tags:
        - "agents"
      summary: "Create Agent"
      description: "Create a new agent"
      operationId: "agent_create"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/AgentCreate"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/AgentResponse"}
        "400":
          description: "Bad Request"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    put:
      tags:
        - "agents"
      summary: "Update Agent"
      description: "Update an existing agent"
      operationId: "agent_update"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/AgentUpdate"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/AgentResponse"}
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/agents/{agent_id}":
    get:
      tags:
        - "agents"
      summary: "Get Agent By Id"
      description: "Get an agent by ID."
      operationId: "agent_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "agent_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Agent Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/AgentResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    delete:
      tags:
        - "agents"
      summary: "Delete Agent"
      operationId: "agent_delete"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "agent_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Agent Id"
        - name: "reason"
          in: "query"
          required: true
          schema:
            type: "string"
            title: "Reason"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {}
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/agents/voices/available":
    get:
      tags:
        - "agents"
      summary: "Get Available Agent Voices"
      description: "Get available agent voices."
      operationId: "agent_get_available_voices"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema:
                items: {"$ref": "#/components/schemas/AgentVoice"}
                type: "array"
                title: "Response Agent Get Available Voices"
      security:
        - APIKeyHeader: []
  "/api/v1/channels/":
    get:
      tags:
        - "channels"
      summary: "Get Channels"
      operationId: "channels_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/ChannelProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/ChannelProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/ChannelProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_Channel_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/channels/twilio/{channel_id}":
    get:
      tags:
        - "channels.twilio"
      summary: "Get Twilio Channel By Id"
      operationId: "channels_twilio_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "channel_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Channel Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Channel"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/channels/twilio/":
    put:
      tags:
        - "channels.twilio"
      summary: "Update Twilio Channel"
      operationId: "channels_twilio_update"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/TwilioChannelUpdateRequest"}
        required: true
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Channel"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
      security:
        - APIKeyHeader: []
    post:
      tags:
        - "channels.twilio"
      summary: "Create Twilio Channel"
      operationId: "channels_twilio_create"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/TwilioChannelCreateRequest"}
        required: true
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Channel"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
      security:
        - APIKeyHeader: []
  "/api/v1/channels/twilio/{channel_id}/numbers":
    post:
      tags:
        - "channels.twilio.numbers"
      summary: "Add Twilio Number"
      description: "Purchase a Twilio number and associate it with a channel."
      operationId: "channels_twilio_numbers_add"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "channel_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Channel Id"
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/TwilioNumberAddRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TwilioNumberAddResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/agents/test/messages":
    post:
      tags:
        - "agents.test"
      summary: "Send New Message"
      description: "Send a new message"
      operationId: "send_test_message"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/TestMessage"}
        required: true
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TestMessageResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
      security:
        - APIKeyHeader: []
  "/api/v1/conversations/":
    get:
      tags:
        - "conversations"
      summary: "Conversations List"
      operationId: "conversations_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/ConversationProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/ConversationProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/ConversationProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_Conversation_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/data_sources/":
    get:
      tags:
        - "data_sources"
      summary: "List Data Sources"
      description: "Fetch metadata about all data sources, not including their text."
      operationId: "data_sources_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/DataSourceProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/DataSourceProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/DataSourceProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_DataSourceMetadataResponse_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    post:
      tags:
        - "data_sources"
      summary: "Create Data Source"
      description: "Create a new data source."
      operationId: "data_sources_create"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/DataSourceCreateRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/DataSourceDetailResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    put:
      tags:
        - "data_sources"
      summary: "Update Data Source"
      description: "Update an existing data source."
      operationId: "data_sources_update"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/DataSourceUpdateRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/DataSourceDetailResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/data_sources/{data_source_id}":
    get:
      tags:
        - "data_sources"
      summary: "Get Data Source"
      description: "Fetch a given data source, including its text."
      operationId: "data_sources_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "data_source_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Data Source Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/DataSourceDetailResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    delete:
      tags:
        - "data_sources"
      summary: "Delete Data Source"
      description: "Delete a given data source."
      operationId: "data_sources_delete"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "data_source_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Data Source Id"
        - name: "reason"
          in: "query"
          required: true
          schema:
            type: "string"
            title: "Reason"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/events/":
    get:
      tags:
        - "events"
      summary: "Events List"
      operationId: "events_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/EventProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/EventProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/EventProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_Event_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/incidents/":
    get:
      tags:
        - "incidents"
      summary: "List Incidents"
      description: "List service incidents with pagination and filtering"
      operationId: "incident_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/IncidentProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/IncidentProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/IncidentProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_IncidentResponse_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    post:
      tags:
        - "incidents"
      summary: "Create Incident"
      description: "Create a new incident"
      operationId: "incident_create"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/IncidentCreateRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/IncidentResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    put:
      tags:
        - "incidents"
      summary: "Update Incident"
      description: "Update an existing incident"
      operationId: "incident_update"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/IncidentUpdateRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/IncidentResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/incidents/organizations":
    get:
      tags:
        - "incidents"
      summary: "Get Organizations"
      description: "Get all organizations"
      operationId: "incident_get_organizations"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema:
                items: {"$ref": "#/components/schemas/IncidentOrganizationResponse"}
                type: "array"
                title: "Response Incident Get Organizations"
      security:
        - APIKeyHeader: []
  "/api/v1/incidents/{incident_id}":
    get:
      tags:
        - "incidents"
      summary: "Get Incident By Id"
      description: "Get incident by ID"
      operationId: "incident_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "incident_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Incident Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/IncidentResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    delete:
      tags:
        - "incidents"
      summary: "Delete Incident"
      description: "Delete an incident by ID"
      operationId: "incident_delete"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "incident_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Incident Id"
        - name: "reason"
          in: "query"
          required: true
          schema:
            type: "string"
            title: "Reason"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/":
    get:
      tags:
        - "insights"
      summary: "Insights List"
      description: "List the evaluated insights for sessions."
      operationId: "insights_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/InsightsProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/InsightsProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/InsightsProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_InsightsOutput_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/folders/":
    get:
      tags:
        - "insights.folders"
      summary: "List Insights Upload Folders"
      operationId: "insights_folder_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/InsightsFolderProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/InsightsFolderProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/InsightsFolderProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_InsightsFolder_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    post:
      tags:
        - "insights.folders"
      summary: "Create Insights Upload Folder"
      operationId: "insights_folder_create"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightsFolderInput"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema:
                anyOf:
                  - {"$ref": "#/components/schemas/InsightsFolder"}
                  - type: "null"
                title: "Response Insights Folder Create"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/folders/{folder_id}":
    get:
      tags:
        - "insights.folders"
      summary: "Get Insights Folder Details"
      operationId: "insights_folder_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "folder_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Folder Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/FolderDetails"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    put:
      tags:
        - "insights.folders"
      summary: "Update Insights Folder"
      operationId: "insights_folder_update"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "folder_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Folder Id"
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightsFolderInput"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightsFolder"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/folders/{folder_id}/upload-file":
    post:
      tags:
        - "insights.folders"
      summary: "Upload Insights  Upload Folder"
      operationId: "insights_folder_upload_file"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "folder_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Folder Id"
        - name: "call_id"
          in: "query"
          required: true
          schema:
            type: "string"
            description: "A unique identifier for the call"
            title: "Call Id"
          description: "A unique identifier for the call"
        - name: "agent_number"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The phone number or ID of the agent involved."
            title: "Agent Number"
          description: "The phone number or ID of the agent involved."
        - name: "customer_number"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The phone number or ID of the customer."
            title: "Customer Number"
          description: "The phone number or ID of the customer."
        - name: "start_time"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
                format: "date-time"
              - type: "null"
            description: "The timestamp of the call's beginning"
            title: "Start Time"
          description: "The timestamp of the call's beginning"
        - name: "end_time"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
                format: "date-time"
              - type: "null"
            description: "The timestamp of the call's end."
            title: "End Time"
          description: "The timestamp of the call's end."
        - name: "duration"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "number"
              - type: "null"
            description: "The call duration in seconds."
            title: "Duration"
          description: "The call duration in seconds."
        - name: "metadata"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            title: "Metadata"
      requestBody:
        content:
          "multipart/form-data":
            schema: {"$ref": "#/components/schemas/Body_insights_folder_upload_file"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightsUploadFile"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/folders/{folder_id}/files":
    get:
      tags:
        - "insights.folders"
      summary: "Fetch Insights Upload Files"
      operationId: "insights_upload_list_files"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "folder_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Folder Id"
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/InsightsUploadFileProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/InsightsUploadFileProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/InsightsUploadFileProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_InsightsUploadFile_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/workflows/":
    get:
      tags:
        - "insights.workflows"
      summary: "Insight Workflow List"
      description: "List the existing insight_workflows"
      operationId: "insights_workflow_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/InsightWorkflowProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/InsightWorkflowProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/InsightWorkflowProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_InsightWorkflowOutput_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    post:
      tags:
        - "insights.workflows"
      summary: "Create Insight Workflow"
      description: "Create a new tool in the insights"
      operationId: "insights_workflow_create"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightWorkflowInput"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightWorkflowOutput"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/workflows/{workflow_id}":
    get:
      tags:
        - "insights.workflows"
      summary: "Get Insight Workflow By Id"
      description: "Get a InsightWorkflow by ID."
      operationId: "insights_workflow_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "workflow_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Workflow Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightWorkflowOutput"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    put:
      tags:
        - "insights.workflows"
      summary: "Update Insights Workflow"
      description: "Update a InsightWorkflow."
      operationId: "insights_workflow_update"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "workflow_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Workflow Id"
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightWorkflowInput"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightWorkflowOutput"}
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "412":
          description: "Precondition Failed"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    delete:
      tags:
        - "insights.workflows"
      summary: "Delete Insights Workflow"
      description: "Delete a Insights workflow."
      operationId: "insights_workflow_delete"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "workflow_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Workflow Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {}
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/workflows/{workflow_id}/inactivate":
    put:
      tags:
        - "insights.workflows"
      summary: "Update Insights Workflow"
      description: "Update a InsightWorkflow."
      operationId: "insights_workflow_inactivate"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "workflow_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Workflow Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightWorkflowOutput"}
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/workflows/{workflow_id}/activate":
    put:
      tags:
        - "insights.workflows"
      summary: "Update Insights Workflow"
      description: "Update a InsightWorkflow."
      operationId: "insights_workflow_activate"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "workflow_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Workflow Id"
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightWorkflowActivate"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightWorkflowOutput"}
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/workflows/queue-work":
    post:
      tags:
        - "insights.workflows"
      summary: "Queue Insights Workflow For Sessions/Files"
      description: "Manually queue sessions for insights workflow evaluation."
      operationId: "insights_workflow_queue_work"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightsWorkflowQueueSession"}
        required: true
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {}
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
      security:
        - APIKeyHeader: []
  "/api/v1/insights/tools":
    get:
      tags:
        - "insights.tools"
      summary: "Insight Tool List"
      description: "List the existing insight_tools"
      operationId: "insight_tool_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/InsightToolProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/InsightToolProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/InsightToolProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_InsightToolOutput_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    post:
      tags:
        - "insights.tools"
      summary: "Create Insight Tool"
      description: "Create a new insight tool."
      operationId: "insights_tool_create"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightToolInput"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightToolOutput"}
        "400":
          description: "Bad Request"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/tools/{tool_id}":
    get:
      tags:
        - "insights.tools"
      summary: "Get Insight Tool By Id"
      description: "Get a InsightTool by Name."
      operationId: "insight_tool_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "tool_id"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Tool Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightToolOutput"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    put:
      tags:
        - "insights.tools"
      summary: "Update Insights Tool"
      description: "Update an Insights tool."
      operationId: "insights_tool_update"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "tool_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Tool Id"
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightToolInput"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InsightToolOutput"}
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "412":
          description: "Precondition Failed"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/insights/tools-test":
    post:
      tags:
        - "insights.tools"
      summary: "Test Insights Tool"
      description: "Manually run the given insight tool against a session and return the response."
      operationId: "insights_tool_test"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/InsightToolTestInput"}
        required: true
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {}
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
      security:
        - APIKeyHeader: []
  "/api/v1/insights/tool-definitions":
    get:
      tags:
        - "insights.tools"
      summary: "Get Insight Tool Definitions"
      description: "Get a InsightTool by Name."
      operationId: "insight_tool_get_definitions"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema:
                items: {"$ref": "#/components/schemas/InsightToolDefinition"}
                type: "array"
                title: "Response Insight Tool Get Definitions"
      security:
        - APIKeyHeader: []
  "/api/v1/custom_messages/":
    get:
      tags:
        - "custom_messages"
      summary: "Custom Messages List"
      description: "List the existing custom_messages"
      operationId: "custom_messages_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/CustomMessageProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/CustomMessageProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/CustomMessageProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_CustomMessageResponse_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    post:
      tags:
        - "custom_messages"
      summary: "Create Custom Message"
      description: "Create a new custom message"
      operationId: "custom_messages_create"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/CustomMessageCreateRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/CustomMessageResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    put:
      tags:
        - "custom_messages"
      summary: "Update Custom Message"
      description: "Update a custom message"
      operationId: "custom_messages_update"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/CustomMessageUpdateRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/CustomMessageResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/custom_messages/{custom_message_id}":
    get:
      tags:
        - "custom_messages"
      summary: "Get Custom Message By Id"
      description: "Get the custom message by its ID"
      operationId: "custom_message_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "custom_message_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Custom Message Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/CustomMessageResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    delete:
      tags:
        - "custom_messages"
      summary: "Delete Custom Message"
      description: "Delete custom message by ID"
      operationId: "custom_messages_delete"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "custom_message_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Custom Message Id"
        - name: "reason"
          in: "query"
          required: true
          schema:
            type: "string"
            title: "Reason"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/prompts/":
    get:
      tags:
        - "prompts"
      summary: "Prompt List"
      description: "List the existing prompts"
      operationId: "prompts_list"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                minimum: 0
              - type: "null"
            description: "The page number from which to start (0-based)"
            examples:
              - 0
            default: 0
            title: "Page"
          description: "The page number from which to start (0-based)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            description: "The maximum number of items to return"
            examples:
              - 25
            default: 25
            title: "Limit"
          description: "The maximum number of items to return"
        - name: "search_fields"
          in: "query"
          required: false
          schema:
            type: "array"
            items: {"$ref": "#/components/schemas/PromptProperties"}
            description: "String names of fields to search. Correspond by index to search field values"
            examples:
              - "name"
            default: []
            title: "Search Fields"
          description: "String names of fields to search. Correspond by index to search field values"
        - name: "search_field_values"
          in: "query"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
            description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
            examples:
              - "Some Object Name"
            default: []
            title: "Search Field Values"
          description: "Values of fields to search. Correspond by index to search fields. Unless field name contains \"list\", an individual search field value cannot be a list"
        - name: "order_by"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/PromptProperties"}
              - type: "null"
            description: "The field whose value should be used to order the results"
            examples:
              - "name"
            title: "Order By"
          description: "The field whose value should be used to order the results"
        - name: "order_by_direction"
          in: "query"
          required: false
          schema:
            anyOf:
              - {"$ref": "#/components/schemas/OrderByDirection"}
              - type: "null"
            description: "The direction in which to order the results"
            title: "Order By Direction"
          description: "The direction in which to order the results"
        - name: "fields"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "array"
                items: {"$ref": "#/components/schemas/PromptProperties"}
              - type: "null"
            description: "The fields to include in the response"
            default: []
            title: "Fields"
          description: "The fields to include in the response"
        - name: "start_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The start datetime for filtering results"
            examples:
              - "2023-01-01T00:00:00Z"
            title: "Start Datetime"
          description: "The start datetime for filtering results"
        - name: "end_datetime"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "The end datetime for filtering results"
            examples:
              - "2024-01-01T00:00:00Z"
            title: "End Datetime"
          description: "The end datetime for filtering results"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ListResponse_PromptResponse_"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    post:
      tags:
        - "prompts"
      summary: "Create Prompt"
      description: "Create a new prompt"
      operationId: "prompts_create"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/PromptCreateRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PromptResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    put:
      tags:
        - "prompts"
      summary: "Update Prompt"
      description: "Update an existing prompt"
      operationId: "prompts_update"
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/PromptUpdateRequest"}
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PromptResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
  "/api/v1/prompts/{prompt_id}":
    get:
      tags:
        - "prompts"
      summary: "Get Prompt By Id"
      description: "Get a prompt by ID"
      operationId: "prompts_get_by_id"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "prompt_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Prompt Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PromptResponse"}
        "422":
          description: "Validation Error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HTTPValidationError"}
    delete:
      tags:
        - "prompts"
      summary: "Delete Prompt"
      description: "Delete a prompt"
      operationId: "prompts_delete"
      security:
        - APIKeyHeader: []
      parameters:
        - name: "prompt_id"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Prompt Id"
        - name: "reason"
          in: "query"
          required: true
          schema:
[...]
